name: Forge Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Download Foundry
      run: curl -L https://foundry.paradigm.xyz | bash

    - name: Source bashrc
      run: source /home/runner/.bashrc

    - name: Run foundryup
      run: /home/runner/.foundry/bin/foundryup

    - name: Fetch Submodule Dependencies
      run: /home/runner/.foundry/bin/forge update

    - name: Run Tests
      run: /home/runner/.foundry/bin/forge test --fork-url https://eth-mainnet.alchemyapi.io/v2/0Zix9biOoC7oFAdYd8I2LDkYOrO70c0k --fork-block-number 14305846 -vvv --gas-report
